[submodule "algorithms/slice-tree"]
	path = algorithms/slice-tree
	url = git://github.com/ucsb-igert/slice-tree.git
[submodule "algorithms/wavelets"]
	path = algorithms/wavelets
	url = git://github.com/ucsb-igert/wavelets.git
